:root {
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --primary-color: #ffffff;
  --text-color: #e0e0e0;
  --text-secondary-color: #b3b3b3;
  --green-accent: #2ed573;
  --orange-accent: #ffa500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.section-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  position: relative;
  color: var(--primary-color);
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--green-accent);
  margin: 0.5rem auto 0;
}

/* Estilos para Mobile */
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2.2rem;
  }
  .container {
    padding: 3rem 1rem;
  }
}
